[{boss, [
    {path, "/home/ec2-user/ChicagoBoss-0.7.2"},
    {vm_cookie, "abc123"},
    {applications, [pathFinder]},
    {db_host, "crater.anthonycannistra.com"},
    {db_port, 3306},
    {db_adapter, mysql},
    {db_database, "wikidb"},
    {db_username, "wikidb"},
    {db_password, "embeddedspaces"},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ pathFinder, [
    {path, "../pathFinder"},
    {base_url, "/"}
]}
].
